<cart-items-component
  class="w-full"
  data-section-id="{{ section.id }}"
>
  <div class="section-background color-{{ section.settings.color_scheme }}"></div>
  <div class="section color-{{ section.settings.color_scheme }} section--{{ section.settings.section_width }}">
    <div
      class="
        {% if cart.empty? %}
          flex flex-col items-center justify-center text-center
        {% else %}
          grid grid-cols-4 gap-y-10 md:grid-cols-12 md:gap-x-6
        {% endif %}
        {% comment %} {% render 'spacing-style', settings: section.settings %} {% endcomment %}
      "
    >
      <!-- العنوان -->
      <div class="cart-page__title md:col-span-2">
        {%- content_for 'block', id: 'cart-page-title', type: '_cart-title' %}
      </div>

      <!-- العناصر -->
      <div class="cart-page__items w-full md:col-span-8">
        {%- content_for 'block', id: 'cart-page-items', type: '_cart-products' %}
      </div>

      <!-- الملخص -->
      {%- unless cart.empty? -%}
        <div class="cart-page__summary md:col-span-2 relative self-stretch">
          {%- content_for 'block', id: 'cart-page-summary', type: '_cart-summary' -%}
        </div>
      {%- endunless -%}

      <!-- المزيد من المحتوى -->
      <div class="cart-page__more-blocks w-full mt-24 md:col-span-12">
        {%- content_for 'blocks' -%}
      </div>
    </div>
  </div>
</cart-items-component>



{% schema %}
{
  "name": "t:names.cart",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "image"
    },
    {
      "type": "button"
    },
    {
      "type": "video"
    },
    {
      "type": "group"
    },
    {
      "type": "spacer"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
