<cart-items-component
  class="w-full"
  data-section-id="{{ section.id }}"
>
  <div class="section-background color-{{ section.settings.color_scheme }}"></div>

  <div class="section color-{{ section.settings.color_scheme }} section--{{ section.settings.section_width }}">
    <div
      class="spacing-style grid grid-cols-1 [gap:0_var(--padding-5xl)]{% if cart.empty? %} flex flex-col items-center justify-center{% endif %} md:[grid-template-columns:1fr_min(50vw,var(--sidebar-width))] md:[grid-template-rows:min-content_min-content_1fr] 2xl:[grid-template-columns:1fr_var(--sidebar-width)]"
      style="{% render 'spacing-style', settings: section.settings %}"
    >
      <div class="cart-page__title {% if cart.empty? %}mt-[var(--margin-6xl)] text-center{% endif %}">
        {%- content_for 'block', id: 'cart-page-title', type: '_cart-title' %}
      </div>

      <div class="cart-page__items">
        {%- content_for 'block', id: 'cart-page-items', type: '_cart-products' %}
      </div>

      {%- unless cart.empty? -%}
        <div class="cart-page__summary pt-[var(--padding-xl)] md:grid h-full col-start-2 row-span-full self-stretch md:[grid-template-rows:subgrid] md:pt-0 relative">
          {%- content_for 'block', id: 'cart-page-summary', type: '_cart-summary' -%}
        </div>
      {%- endunless -%}

      <div class="cart-page__more-blocks w-full {% if cart.empty? %}mt-[var(--margin-6xl)]{% endif %}">
        {%- content_for 'blocks' -%}
      </div>
    </div>
  </div>
</cart-items-component>

